[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
jupyter = "*"
langchain-google-genai = "*"
pillow = "*"
python-dotenv = "*"
langchain-community = "*"
pypdf2 = "*"
langchain-openai = "*"
pypdf = "*"
duckduckgo-search = "*"
langchain-core = "*"
yt-dlp = "*"
pydub = "*"
ffmpeg-python = "*"
chromadb = "*"
lark = "*"
langchain-chroma = "*"
scikit-learn = "*"
docarray = "*"
weaviate-client = "==3.26.7"
llama2 = "*"
datasets = "*"
transformers = "*"
torch = "*"
accelerate = "*"
anthropic = "*"
langchain-mistralai = "*"
panel = "*"
jupyter-bokeh = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
